################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDL_Steering_Behaviors/SDL_Steering_Behaviors/Debug/Wander.obj
/SDL_Steering_Behaviors/SDL_Steering_Behaviors/Debug/SceneWander.obj
/SDL_Steering_Behaviors/SDL_Steering_Behaviors/Debug/SceneEvade.obj
/SDL_Steering_Behaviors/SDL_Steering_Behaviors/Debug/Evade.obj
/SDL_Steering_Behaviors/SDL_Steering_Behaviors/Debug
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/SDL_Steering_Behaviors_v01/v15/ipch/AutoPCH/b862ccedac0f929c/PURSUE.ipch
/.vs/SDL_Steering_Behaviors_v01/v15/ipch/AutoPCH/b862ccedac0f929c
/.vs/SDL_Steering_Behaviors_v01/v15/ipch/AutoPCH/743cffc269976892/SCENEPURSUE.ipch
/.vs/SDL_Steering_Behaviors_v01/v15/ipch/AutoPCH/743cffc269976892
/.vs/SDL_Steering_Behaviors_v01/v15/ipch/AutoPCH
/.vs/SDL_Steering_Behaviors_v01/v15/Browse.VC.opendb
/.vs/SDL_Steering_Behaviors_v01/v15/Browse.VC.db
/.vs/SDL_Steering_Behaviors_v01/v15/.suo
/.vs/SDL_Steering_Behaviors_v01/v15
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/f917f15ca6d27017/SCENEEVADE.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/f917f15ca6d27017
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/d0b8564c286a51d7/SCENEWANDER.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/d0b8564c286a51d7
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/b89bafcb3dbdd164/SCENEEVADE.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/b89bafcb3dbdd164
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/a67667f58eceec6c/SCENEWANDER.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/a67667f58eceec6c
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/a33de21f9fde47c4/SCENEEVADE.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/a33de21f9fde47c4
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/9c06963c3b541a02/EVADE.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/9c06963c3b541a02
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/7ba87acf1a580ba9/WANDER.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/7ba87acf1a580ba9
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/6a3798b2dc8328ca/EVADE.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/6a3798b2dc8328ca
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/3ed2640536de9049/EVADE.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/3ed2640536de9049
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/30dee74978db6184/SCENEWANDER.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/30dee74978db6184
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/29032553944f575a/WANDER.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/29032553944f575a
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/17a8c4b3ea01daa/WANDER.ipch
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH/17a8c4b3ea01daa
/.vs/SDL_Steering_Behaviors/v15/ipch/AutoPCH
/.vs/ProjectSettings.json
/.vs
